.questbutton {
  border: none;
  border-radius: 20px;
  box-shadow: 0 8px 50px 0 rgba(0,0,0,0.2);
  color: whitesmoke;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width:100%;
}

.questbutton :hover {
  box-shadow: 9 10px 50px 0 rgba(0,0,0,0.2)
}

#deletebutton {
  background-color: tomato;
}
#editbutton {
  background-color: steelblue;
}

#newbutton {
  background-color: transparent;
  color: rgb(105, 146, 112);
  margin: 5px 10px;
  padding: 10px 10px;
  width: 40%;
}

.newbutton:hover {
  color: rgb(11, 99, 49);
}

.questbox {
  background-color: #ffda8a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.questbox ul {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  list-style: none;
  margin: 5px;
  padding-left: 10px
}

.questlist {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 20px;
}

#row-container {
  display: grid;
  grid-template-columns: 120px 120px 1fr 1fr;
  grid-column-gap: 15px;
  margin: 10px 20px 0px 20px;
  padding: 5px 10px 0px 10px;
  background-color: rgba(123, 107, 209, 0.2);
  border-radius: 5px;
}