@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
    background-color: #aad8f7 ;
    font-family: Rubik;
}

.backdrop {
    text-align: center;
    width: 160%;
}

.button {
    background-color: rgb(247, 187, 75);
    border: none;
    border-radius: 8px;
    box-shadow: 0 8px 50px 0 rgba(0,0,0,0.2);
    color: whitesmoke;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 30px;
}

.button:hover {
    background-color: rgb(252, 164, 0);
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.tomato {
    background-image: linear-gradient(rgb(234, 255, 234), rgb(1, 103, 191));
    border-radius: 5px;
    box-shadow: 0 8px 50px 0 rgba(0,0,0,0.2);
    height: 250px
}

.timer {
    color: darkslateblue;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.timerbutton {
    background-color: slategrey;
    border: none;
    border-radius: 8px;
    box-shadow: 0 8px 50px 0 rgba(0,0,0,0.2);
    color: whitesmoke;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    width: 80px
}

.timerbutton:hover {
    background-color: darkslategray;
    color: white
}

.timerbutton_inactive {
    background-color: slategrey;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    width: 80px;
    opacity: 50%;
}