html {
    background-color: #aad8f7 ;
}

.backdrop {
    text-align: center;
    margin-top: 80px;
}

.button {
    background-color: goldenrod;
    border: none;
    border-radius: 8px;
    color: royalblue;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 30px;
}


.button:hover {
    background-color: royalblue;
    color: whitesmoke;
}


.tomato {
    height: 250px
}

.timer {
    color: darkslateblue;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.timerbutton {
    background-color: slategrey;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    width: 80px
}

.timerbutton:hover {
    background-color: darkslategray;
    color: white
}

.timerbutton_inactive {
    background-color: slategrey;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    width: 80px;
    opacity: 50%;
}

.questlist {
    display: flex;
    width: 100vw;
}

.questlist ul {
    list-style: none;
}