.newquest-modal {
    width: 400px;
    height: 200px;
    background-color: rgb(255, 239, 219);
    border-radius: 5px;
    padding: 15px;
    position: relative;
}

.bg-modal {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    top: 0;
    right: 0;
    position: absolute;
    font-size: 20px;
    transform: rotate(45deg);
    cursor: pointer;
    background-color: transparent;
    border: none;
}

input {
    display: block;
    margin: 5px
}