{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pomodoro Adventures</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
{% if user.is_authenticated %}
<body>
  <div id="app">
    <!-- React will load here -->
  </div>
  <script src="{% static "frontend/main.js" %}"></script>
</body>
{% else %}
<body>
  <div id="dashboard">

  </div>
  <h3>Log in with Google?</h3>
  <a href="{% provider_login_url 'google' %}">Login with Google</a>
  <script src="{% static "frontend/main.js" %}"></script>
</body>
{% endif %}
</html>